* {
  padding: 0;
  margin: 0;
  font-family: "Barlow";
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
nav img {
  max-width: 150px;
  height: auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
nav ul li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #83888f;
  transition: all 0.2s ease;
}
nav a:hover {
  color: black;
  font-weight: 800;
}
nav .nav__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: none;
}
nav .nav__burger hr {
  border: 0;
  background: #ff0000;
  height: 2px;
  width: 20px;
}
@media (max-width: 500px) {
  nav ul {
    display: none;
  }
  nav .nav__burger {
    display: flex;
  }
}
@media (max-width: 1200px) {
  nav {
    width: 90%;
  }
}
@media (max-width: 500px) {
  nav {
    width: 70%;
  }
}

.off-screen-menu {
  z-index: 1000;
  background: black;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu li a {
  color: aqua;
}

.off-screen-menu.active {
  right: 0;
}

.random_shit {
  width: 500px;
  position: absolute;
  z-index: -5;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .random_shit {
    display: none;
  }
}
@media (max-width: 500px) {
  .random_shit {
    top: -20px;
    width: 80%;
  }
}

.intro {
  margin: 50px auto;
  background-image: url(/imgs/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1200px;
  padding: 60px 80px;
  height: 500px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
}
.intro .intro__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 60%;
  text-align: left;
}
.intro h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  width: 500px;
}
.intro p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 500px;
  margin: 20px 0;
}
.intro button {
  height: auto;
  width: 200px;
  padding: 20px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: 0;
}
.intro button:hover {
  background: #66d2cf;
}
@media (max-width: 500px) {
  .intro {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    text-align: center;
  }
  .intro h1 {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #fefcf7;
    width: 100%;
  }
  .intro p {
    font-size: 10px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .intro {
    width: 90%;
    padding: 30px 40px;
    height: 400px;
  }
  .intro .intro__content {
    width: 60%;
  }
  .intro h1 {
    width: 100%;
    font-size: 48px;
    line-height: 48px;
  }
  .intro p {
    width: 100%;
    font-size: 14px;
  }
}

.products {
  position: relative;
  background-image: url(/imgs/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.products_box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .products {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .products_box {
    flex-direction: row;
    text-align: center;
    width: 80%;
  }
}
@media (max-width: 500px) {
  .products {
    width: 70%;
    flex-direction: column;
    align-items: center;
  }
  .products_box {
    flex-direction: column;
  }
}

.options {
  width: 1200px;
  height: 300px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 50px;
  background: #2e313c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options h1 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.options p {
  width: 60%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media (max-width: 1200px) {
  .options {
    width: 90%;
    height: 400px;
    padding: 20px;
  }
  .options h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .options p {
    font-size: 12px;
    line-height: 20px;
  }
}

.quality {
  margin: 0 auto;
  overflow: visible;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.quality__box {
  background: #0e8784;
  width: 350px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  color: white;
}
.quality__box img {
  max-height: 50px;
}
@media (max-width: 500px) {
  .quality {
    top: -200px;
  }
  .quality__box {
    border-radius: 20px;
    height: 250px;
    width: 70%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .quality__box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quality__box__content p {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .quality {
    height: 500px;
    width: 90%;
    flex-direction: column;
    top: -300px;
  }
  .quality__box {
    border-radius: 10px;
    height: 200px;
    width: 70%;
    padding: 20px;
    text-align: left;
    flex-direction: row;
    gap: 10px;
  }
  .quality__box p {
    margin-top: 20px;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .quality__box {
    width: 350px;
  }
}

.works {
  margin: 50px auto;
  width: 1200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works .works__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works img {
  max-width: 500px;
}
.works_boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.works_boxes_box h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works_boxes_box h2 {
  padding-bottom: 10%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #333d4b;
}
.works_boxes_box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #333d4b;
}
.works .work__btn {
  width: 200px;
  height: 50px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
.works .work__btn:hover {
  background: #66d2cf;
}
@media (max-width: 500px) {
  .works {
    margin-top: 200px;
    width: 70%;
    text-align: center;
    align-items: center;
    padding: 5%;
  }
  .works .works_boxes {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .works .works_boxes__box {
    width: 100%;
  }
  .works .works_boxes p {
    width: 100%;
  }
  .works img {
    display: none;
  }
}

.footer {
  padding: 50px;
  background: #2c343e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.footer img {
  max-width: 250px;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #83888f;
  font-size: 12px;
}
.footer .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 23px;
}
@media (max-width: 500px) {
  .footer {
    width: 100%;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1200px) {
  .footer {
    margin: 40px auto;
    width: 90%;
    flex-direction: column;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
  }
}
.footer a {
  font-family: "Barlow";
  color: #83888f;
}

@media (max-width: 1200px) {
  .works {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .works__title {
    width: 20%;
  }
  .works_boxes {
    width: 90%;
  }
  .works_boxes_box {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */