* {
  padding: 0;
  margin: 0;
  font-family: "Barlow";
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  max-width: 150px;
  height: auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
nav ul li a {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #83888f;
  transition: all 0.2s ease;
}
nav a:hover {
  color: black;
  font-weight: 800;
}
nav .nav__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: none;
}
nav .nav__burger hr {
  border: 0;
  background: #000;
  height: 2px;
  width: 20px;
}
@media (max-width: 500px) {
  nav ul {
    display: none;
  }
  nav .nav__burger {
    display: flex;
  }
}

.random_shit {
  width: 500px;
  position: absolute;
  z-index: -5;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .random_shit {
    top: -20px;
    width: 80%;
  }
}

.intro {
  margin: 50px auto;
  background-image: url(/imgs/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 80%;
  padding: 60px 80px;
  height: 500px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
}
.intro .intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 60%;
}
.intro h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  width: 500px;
}
.intro p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 500px;
  margin: 20px 0;
}
.intro button {
  height: auto;
  width: 200px;
  padding: 20px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: 0;
}
.intro button:hover {
  background: #66d2cf;
}
@media (max-width: 1000px) {
  .intro {
    padding: 30px 40px;
    height: 400px;
  }
  .intro .intro__content {
    width: 100%;
  }
  .intro h1 {
    width: 100%;
    font-size: 48px;
    line-height: 48px;
  }
  .intro p {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .intro {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    text-align: center;
  }
  .intro h1 {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #fefcf7;
    width: 100%;
  }
  .intro p {
    width: 100%;
  }
}

.products {
  position: relative;
  background-image: url(/imgs/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.products_box {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .products {
    flex-direction: column;
  }
  .products_box {
    flex-direction: row;
    text-align: center;
    width: 80%;
  }
}
@media (max-width: 500px) {
  .products {
    flex-direction: column;
    align-items: center;
  }
  .products_box {
    flex-direction: column;
  }
}

.options {
  width: 900px;
  height: 300px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 50px;
  background: #2e313c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.options p {
  width: 90%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media (max-width: 1000px) {
  .options {
    width: 80%;
    height: 500px;
    padding: 20px;
  }
  .options h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .options p {
    font-size: 12px;
    line-height: 20px;
  }
}

.quality {
  overflow: visible;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.quality__box {
  max-width: 300px;
  background: #0e8784;
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  color: white;
}
.quality__box img {
  max-height: 50px;
}
@media (max-width: 1000px) {
  .quality {
    width: 100%;
    flex-direction: column;
    top: -200px;
  }
  .quality__box {
    max-width: 400px;
    padding: 20px;
    text-align: left;
    flex-direction: row;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .quality {
    top: -400px;
  }
  .quality__box {
    width: 60%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}

.works {
  margin: 0 auto;
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works .works__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works img {
  max-width: 500px;
}
.works_boxes {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.works_boxes_box h1 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works_boxes_box h2 {
  padding-bottom: 10%;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  color: #333d4b;
}
.works_boxes_box p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #333d4b;
}
.works .work__btn {
  width: 200px;
  height: 50px;
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
.works .work__btn:hover {
  background: #66d2cf;
}
@media (max-width: 1000px) {
  .works {
    padding: 5%;
  }
}
@media (max-width: 500px) {
  .works {
    text-align: center;
    align-items: center;
    padding: 5%;
  }
  .works .works_boxes {
    flex-direction: column;
  }
  .works img {
    display: none;
  }
}

.footer {
  padding: 50px;
  background: #2c343e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.footer img {
  max-width: 250px;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #83888f;
  font-size: 12px;
}
.footer .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 23px;
}
@media (max-width: 1000px) {
  .footer {
    flex-direction: column;
  }
  .footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.footer a {
  font-family: "Barlow";
  color: #83888f;
}/*# sourceMappingURL=style.css.map */