@import "./block/general";
@import "./block/mixin";
nav {
  @include navbar;
  width: 1200px;
  @media (max-width: 500px) {
    width: 70%;
  }
}
.intro {
  background-image: url(/imgs/coffeebg.png);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 1200px;
  height: 450px;
  margin: 5em auto;
  padding: 50px 50px;
  display: flex;
  align-items: center;
  &_content {
    width: 50%;
    h1 {
      @include title;
      color: #fefcf7;
    }
    p {
      @include text;
    }
  }
  @media (max-width: 500px) {
    padding: 10px;
    height: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_content {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      text-align: center;
    }
  }
}

.commitment {
  margin: 50px auto;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  img {
    max-width: 300px;
    border-radius: 20px;
  }
  &_content {
    h1 {
      @include title;
    }
    p {
      margin: 30px 0;
      @include text;
      color: #333d4b;
      line-height: 1 rem;
    }
  }
  @media (max-width: 500px) {
    width: 70%;
    &_content {
      text-align: center;
    }
    flex-direction: column;
  }
}
.quality {
  margin-top: 150px;
  min-height: 200px;
  width: 1200px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 5%;
  display: flex;
  align-items: center;
  background: #333d4b;
  &_content {
    p {
      @include text;
    }
    h1 {
      @include title;
      color: white;
    }
  }
  img {
    max-width: 200px;
  }
  @media (max-width: 1000px) {
    width: 70%;
    flex-direction: column;
    justify-content: center;
    &_content {
      text-align: center;
    }
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.head {
  width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  h1 {
    @include title;
    font-size: 24px;
    color: #83888f;
  }
  .boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    .box {
      display: flex;
      flex-direction: column;
      img {
        max-width: 40px;
        h1 {
          @include title;
          font-weight: 800;
          color: #000000;
        }
        p {
          @include text;
          color: #333d4b;
        }
      }
    }
  }
  @media (max-width: 500px) {
    width: 70%;
    align-items: center;
    gap: 50px;
    .boxes {
      .box {
        color: black;
        align-items: center;
        text-align: center;
      }
      flex-direction: column;
    }
  }
}
.footer {
  @include footer;
  a {
    font-family: "Barlow";
    color: #83888f;
  }
}
