@import "./block/general";
@import "./block/mixin";
nav {
  @include navbar;
  width: 1200px;
  @media (max-width: 500px) {
    width: 70%;
  }
}
.intro {
  background-image: url(/imgs/coffeebg.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 1200px;
  height: 450px;
  margin: 5em auto;
  padding: 5%;
  display: flex;
  align-items: center;
  &_content {
    width: 50%;
    h1 {
      @include title;
      color: #fefcf7;
    }
    p {
      @include text;
    }
  }
  @media (max-width: 500px) {
    height: 300px;
    width: 70%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_content {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      text-align: center;
    }
  }
}
.works {
  width: 1200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: #2c343e;
  gap: 20px;
  margin: 0 auto;
  .works__title {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  img {
    max-width: 500px;
  }
  &_boxes {
    display: flex;
    justify-content: center;
    gap: 10%;
    &_box {
      h1 {
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #fdd6ba;
      }
      h2 {
        padding-bottom: 10%;
        font-family: "Fraunces";
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        color: white;
      }
      p {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: white;
      }
    }
  }
  @media (max-width: 500px) {
    width: 70%;
    text-align: center;
    .works_boxes {
      flex-direction: column;
    }
    img {
      display: none;
    }
  }
}



.coffee {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .coffee__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    img {
      max-width: 500px;
    }

    h1 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 48px;
      color: #83888f;
    }

    h2 {
      font-family: "Fraunces";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #333d4b;
    }

    p {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      color: #333d4b;
    }
  }

  &__wrapper:nth-child(1) {
    width: 300px;
    align-self: flex-start;
    ul {
      li {
        display: flex;
        padding: 20px;
        justify-content: space-around;
        transition: 0.2s all ease;

        p {
          transition: 0.2s all ease;
          color: #83888f;
          font-weight: 800;
        }

        p:hover {
          color: #333d4b;
        }
      }

      li:hover {
        p:nth-child(1) {
          color: #0e8784;
        }
      }
    }
  }

  &__wrapper:nth-child(2) {
    width: auto;
    .coffee__wrapper__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .box__wrapper {
      display: flex;
      flex-direction: row;
      gap: 2%;

      .box {
        border-radius: 20px;
        transition: 0.2s all ease;
        padding: 20px;
        background: #f4f1eb;
        width: 20%;
      }

      .box:hover {
        background: #fdd6ba;
      }

      p {
        padding-top: 10px;
        transition: 0.2s all ease;
      }

      .box:active {
        background: #0e8784;
        color: white;

        p {
          color: white;
        }
      }
    }
  }

  @media (max-width: 1000px) {
    textalign: center;
    &__wrapper:nth-child(1) {
      display: none;
    }
  }

  @media (max-width: 500px) {
    text-align: center;
    width: 70%;
    justify-content: start;

    &__wrapper:nth-child(1) {
      display: none;
    }

    &__wrapper:nth-child(2) {
      .box__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .box {
          width: 100%;
        }
      }
    }
  }
}
.footer {
  @include footer;
  a {
    font-family: "Barlow";
    color: #83888f;
  }
}
.lifeCouldBeDream {
  width: 730px;
  padding: 5%;
  background: #2c343e;

  .quote {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .content {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #ffffff;
  }
  @media (max-width: 500px) {
    padding: 5%;
    width: 90%;
  }
}
.btn {
  height: 50px;
  width: 150px;
  @include btn;
  border: 0;
}
