@import "./general";
@import "./mixin";
nav {
  @include navbar;
}
.intro {
  margin: 100px auto;
  background-image: url(/imgs/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 80%;
  padding: 1em;
  height: auto;
  .intro__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
  h1 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
  }
  p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  button {
    height: auto;
    width: 200px;
    padding: 20px;
    @include btn;
  }
  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: #fefcf7;
    }
  }
}

.products {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  &_box {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    &_box {
      flex-direction: row;
      text-align: center;
      width: 80%;
    }
  }
}

.options {
  height: 300px;
  margin: 0 auto;
  width: 70%;
  border-radius: 20px;
  padding: 50px;
  background: #2e313c;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
  }
  p {
    width: 90%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.quality {
  margin-left: 10%;
  margin-right: 10%;
  overflow: visible;
  position: relative;
  top: -180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  &__box {
    min-height: 100px;
    background: #0e8784;
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: white;
    img {
      max-height: 50px;
    }
  }
  @media (max-width: 1000px) {
    margin-top: 50px;
    flex-direction: column;
    &__box {
      flex-direction: column;
    }
  }
}
.works {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .works__title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  img {
    max-width: 500px;
  }
  &_boxes {
    display: flex;
    justify-content: center;
    gap: 5%;
    &_box {
      h1 {
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #fdd6ba;
      }
      h2 {
        padding-bottom: 10%;
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        color: #333d4b;
      }
      p {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #333d4b;
      }
    }
  }
  .work__btn {
    width: 200px;
    height: 50px;
    @include btn;
  }
  @media (max-width: 500px) {
    .works_boxes {
      flex-direction: column;
    }
    img {
      display: none;
    }
  }
}
.footer {
  @include footer;
}
