@import "./general";
@import "./mixin";
nav {
  @include navbar;
}
.random_shit {
  width: 500px;
  position: absolute;
  z-index: -5;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  @media (max-width: 1000px) {
    top: -20px;
    width: 80%;
  }
}
.intro {
  margin: 50px auto;
  background-image: url(/imgs/Bitmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 80%;
  padding: 60px 80px;
  height: 500px;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  h1 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
    width: 500px;
  }
  p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 500px;
    margin: 20px 0;
  }
  button {
    height: auto;
    width: 200px;
    padding: 20px;
    @include btn;
    border: 0;
  }
  @media (max-width: 1000px) {
    padding: 30px 40px;
    height: 400px;
    .intro__content {
      width: 100%;
    }
    h1 {
      width: 100%;
      font-size: 48px;
      line-height: 48px;
    }
    p {
      width: 100%;
      font-size: 14px;
    }
  }
  @media (max-width: 500px) {
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    text-align: center;
    h1 {
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: #fefcf7;
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}

.products {
  position: relative;
  background-image: url(/imgs/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  &_box {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 1000px) {
    flex-direction: column;
    &_box {
      flex-direction: row;
      text-align: center;
      width: 80%;
    }
  }
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    &_box {
      flex-direction: column;
    }
  }
}

.options {
  width: 900px;
  height: 300px;
  margin: 50px auto;
  border-radius: 20px;
  padding: 50px;
  background: #2e313c;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
  }
  p {
    width: 90%;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
  @media (max-width: 1000px) {
    width: 80%;
    height: 500px;
    padding: 20px;
    h1 {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.quality {
  overflow: visible;
  position: relative;
  top: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  &__box {
    max-width: 300px;
    background: #0e8784;
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    color: white;
    img {
      max-height: 50px;
    }
  }
  @media (max-width: 1000px) {
    width: 100%;
    flex-direction: column;
    top: -200px;
    &__box {
      max-width: 400px;
      padding: 20px;
      text-align: left;
      flex-direction: row;
      gap: 10px;
    }
  }
  @media (max-width: 500px) {
    top: -400px;
    &__box {
      width: 60%;
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
.works {
  margin: 0 auto;
  width: 80%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .works__title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }
  img {
    max-width: 500px;
  }
  &_boxes {
    display: flex;
    justify-content: center;
    gap: 5%;
    &_box {
      h1 {
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #fdd6ba;
      }
      h2 {
        padding-bottom: 10%;
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 32px;
        color: #333d4b;
      }
      p {
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #333d4b;
      }
    }
  }
  .work__btn {
    width: 200px;
    height: 50px;
    @include btn;
  }
  @media (max-width: 1000px) {
    padding: 5%;
  }
  @media (max-width: 500px) {
    text-align: center;
    align-items: center;
    padding: 5%;
    .works_boxes {
      flex-direction: column;
    }
    img {
      display: none;
    }
  }
}
.footer {
  @include footer;
  a {
    font-family: "Barlow";
    color: #83888f;
  }
}
