@mixin navbar {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 150px;
    height: auto;
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  ul li a {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #83888f;
    transition: all 0.2s ease;
  }
  & a:hover {
    color: black;
    font-weight: 800;
  }
  .nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    hr {
      border: 0;
      background: #000;
      height: 2px;
      width: 20px;
    }
    display: none;
  }
  @media (max-width: 500px) {
    ul {
      display: none;
    }
    .nav__burger {
      display: flex;
    }
  }
}
@mixin btn {
  background: #0e8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  &:hover {
    background: #66d2cf;
  }
}
@mixin footer {
  padding: 50px;
  background: #2c343e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  img {
    max-width: 250px;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #83888f;
    font-size: 12px;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 23px;
  }
  color: white;

  @media (max-width: 1000px) {
    flex-direction: column;
    ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }
}

@mixin text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}
@mixin title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333d4b;
}
